
@model UniversityApplicationPortal.Core.ViewModels.StudentFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>@Model.Heading</h2>



@using (Html.BeginForm(Model.Action, "Students"))
{
    

        @Html.HiddenFor(m => m.Id)


        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MobileNumber)
            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Department)
            @Html.DropDownListFor(m => m.Department, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Department)
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    
    
    
    
   
    
        }
        @section scripts
{

            @Scripts.Render("~/bundles/jqueryval")
        }
