@model UniversityApplicationPortal.Core.ViewModels.CourseFormViewModel
@{
    ViewBag.Title = "CreateCourse";
}

<h2>CreateCourse</h2>

@using (Html.BeginForm(Model.Action, "Courses"))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.CourseName)
        @Html.TextBoxFor(m => m.CourseName, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Department)
        @Html.DropDownListFor(m => m.Department, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    
}

